<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Керування розумним будинком</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body onload="updateChart(); setInterval(updateChart, 5000);">
<div style="display: flex; justify-content: center; margin: 0;">
    <div class="m-0 container mx-auto my-10" style="width:600px; height:400px;">
        <canvas id="myChart"></canvas>
    </div>
    <div class="flex justify-center flex-col">
        <div class="relative w-15 mr-2 align-middle select-none">
            <label for="min_temp"
                   class="w-20 inline-block text-l font-semibold">Min</label>
            <input id="min_temp" type="range" min="0" max="49.5" step="0.01"
                   class="slider bg-blue-400 w-full h-2 rounded-full"/>
        </div>

        <div class="relative w-15 mr-2 align-middle select-none">
            <label for="max_temp"
                   class="w-20 inline-block text-l font-semibold">Max</label>
            <input id="max_temp" type="range" min="0.5" max="50" step="0.01"
                   class="slider bg-red-400 w-full h-2 rounded-full"/>
        </div>

        <button id="submit_button" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Submit
        </button>
    </div>
</div>

<script>
    let chart = null;

    function updateChart() {
        fetch('http://127.0.0.1:5000/GetTemperatures', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                let ctx = document.getElementById('myChart').getContext('2d');
                let minTempSlider = document.getElementById('min_temp');
                let maxTempSlider = document.getElementById('max_temp');

                minTempSlider.value = data[data.length - 1].min;
                maxTempSlider.value = data[data.length - 1].max;

                if (chart !== null) {
                    chart.destroy();
                }
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.map((_, i) => i + 1),
                        datasets: [
                            {
                                label: 'Max',
                                data: data.map(d => d.max),
                                fill: false,
                                borderColor: 'rgb(255, 99, 132)',
                                tension: 0.1
                            },
                            {
                                label: 'Min',
                                data: data.map(d => d.min),
                                fill: false,
                                borderColor: 'rgb(54, 162, 235)',
                                tension: 0.1
                            },
                            {
                                label: 'Value',
                                data: data.map(d => d.value),
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }
                        ]
                    },
                    options: {
                        animation: {
                            duration: 0 // general animation time
                        },
                        responsiveAnimationDuration: 0 // animation duration after a resize
                    }
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    const submitButton = document.querySelector('#submit_button');

    submitButton.addEventListener('click', function () {
        let minTempSlider = document.getElementById('min_temp');
        let maxTempSlider = document.getElementById('max_temp');

        if (parseFloat(minTempSlider.value) > parseFloat(maxTempSlider.value)) {
            alert("Minimum temperature cannot be greater than maximum temperature.");
            minTempSlider.value = maxTempSlider.value;
        } else if (parseFloat(maxTempSlider.value) < parseFloat(minTempSlider.value)) {
            alert("Maximum temperature cannot be less than minimum temperature.");
            maxTempSlider.value = minTempSlider.value;
        } else {
            let data = {
                min_temp: minTempSlider.value,
                max_temp: maxTempSlider.value
            };

            fetch('http://127.0.0.1:5000/updateTemp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
        }
    });

    const minTempSlider=document.querySelector('#min_temp');
    const maxTempSlider=document.querySelector('#max_temp');

    // set event listener
    minTempSlider.addEventListener('input', function () {
        if (parseFloat(minTempSlider.value) >= parseFloat(maxTempSlider.value)) {
            minTempSlider.value=parseFloat(maxTempSlider.value) - 0.5;
            minTempSlider.classList.add('bg-gray-500');
        } else {
            minTempSlider.classList.remove('bg-gray-500');
        }
    });

    maxTempSlider.addEventListener('input', function () {
        if (parseFloat(maxTempSlider.value) <= parseFloat(minTempSlider.value)) {
            maxTempSlider.value=parseFloat(minTempSlider.value) + 0.5;
            maxTempSlider.classList.add('bg-gray-500');
        } else {
            maxTempSlider.classList.remove('bg-gray-500');
        }
    });
</script>
</body>
</html>